body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #a18cd1 0%, #fbc2eb 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 1000px;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: #5a5a5a;
    font-size: 2rem;
    margin: 0;
    display: flex;
    align-items: center;
}

h1 i {
    margin-right: 10px;
}

#noteInput {
    width: 60%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #6f42c1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}


button i {
    margin-right: 5px;
}

.note {
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.note .timestamp {
    font-size: 0.8em;
    color: #666;
    margin-top: 10px;
}

/* Style for textarea */
.note textarea {
    color: black;
    background-color: transparent;
    border: 2px solid rgb(245, 243, 243); 
    padding: 8px;
    font-size: 1em;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    font-weight: normal;
    overflow: hidden;
    resize: none;
    width: 100%;

    
}

/* Hide Done button initially */
.doneButton {
    display: none;
}

.editButton{
    background-color: transparent;
    color: grey;
    font-size: 1.4em;
}
.editButton:hover{
    color: rgb(81, 78, 78);
}
.deleteButton{
    background-color: transparent;
    color: #dc3545;
    font-size: 1.4em;

}
.deleteButton:hover{
    color: #a82330;
    background-color: transparent;
}
.textarea_buttons{
    /* background-color: red; */
    display: flex;
}
.createButton{
    background-color: #6f42c1;
}
.createButton:hover{
    background-color: #3e1689;
}
.buttons{
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 6px;

}